.login__footer{
    position: relative;
    background: rgba(255, 255, 255, 0.1);

    animation: fade-in 400ms ease-in-out;
}

.login__footer__content{
    display: flex;
    flex-direction: row;
    height: 42px;

    gap: 10px;
    align-items: center;
}

.login__content__icon{
    box-sizing: border-box;
    height: 100%;
    padding: 0px 10px;

    background: rgba(255, 255, 255, 0.2);

    display: flex;
    align-items: center;

    cursor: pointer;
    user-select: none;
}

.login__content__icon:hover{
    background: rgba(255, 255, 255, 0.3);
}

.login__content__icon:active{
    background: rgba(255, 255, 255, 0.35);
}

.login__main__content{
    height: calc(100vh - 42px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 10% 40%;

    animation: fade-in 400ms ease-in-out;
}

.login__content__buttons{
    display: flex;
    flex-direction: column;
}