:root{
    --cover: "";
}

.user__main{
    min-height: 100vh;
    background: var(--cover);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.user__main__content{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    min-height: 100vh;
}

.user__info__avatar{
    width: 150px;
    height: 150px;

    border-radius: 100%;

    user-select: none;
}

.user__info__fullname{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 300;
}

.user__info__login{
    font-size: 18px;
    font-weight: 300;
    opacity: 0.5;
}

.user__content__account{
    position: relative;
    display: flex;
    flex-direction: row;

    right: 0;
    margin-left: 52px;
    box-sizing: border-box;
    padding: 20px;

    background: rgba(255, 255, 255, 0.1);
}

.user__account__info{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user__account__fans{
    min-width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border-right: solid;
    border-color: rgba(255, 255, 255, 0.15);
    border-width: 1px;
    
    margin-left: 10px;
}

.user__account__stats{
    min-width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    border-left: solid;
    border-color: rgba(255, 255, 255, 0.15);
    border-width: 1px;

    margin-right: 10px;
}

.user__content__posts{
    position: relative;

    right: 0;
    margin-left: 52px;
    box-sizing: border-box;
}

.user__posts__category{
    height: 56px;
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0px;

    background: rgba(255, 255, 255, 0.15);
}

.user__category__categories{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li{
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }
    }
}