.posterTitle{
  margin: 0;

  font-family: 'Dancing Script', sans-serif;
  font-size: 90px;

  text-align: center;
  user-select: none;
}

.posterSubtitle{
    margin: 0;

    font-size: 18px;
    font-weight: 400;

    text-align: center;
}