.app{
  width: 100vw;
  min-height: 100vh;
}

.app__blurPanel{
  position: fixed;
  width: 600px;
  min-height: 100vh;

  right: 0;

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);
}

.app__blurPanel_open{
  position: fixed;
  width: 100vw;
  min-height: 100vh;

  right: 0;

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);

  transition: all 800ms ease-in-out;

  .app__blurPanel__content{
    transition: all 800ms ease-in-out;
    opacity: 0;
  }
}

.app__blurPanel__content{
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  padding: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  animation: fade-in 400ms ease-in-out;
}

.app__content__buttonPanel{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;

  width: 100%;
}